@using GameHopper.Models;

@model List<Game>

@{
    ViewData["Title"] = "Games";
    }

<h2>Listings</h2>
<hr />
@* <div>
        @foreach(Game listing in @Model){
            <div class = "card mb-2">
                <div class = "card-body">
                    

                <div class = "card-footer">
                    @Html.ActionLink("Edit", "BlogCreatorPage", new {Id = @post.Id})
                </div>
            </div>
        } 
    </div>  *@