@* HTML Editor that sends content to Blog Controller *@
<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>

<div>

    <form action="BlogCreatorPage" method="POST">
        <br/>
        <textarea name="blogcontent" id = "myBlogEditor"></textarea>
        <br/>
        <button class="btn btn-secondary">Submit</button>
    </form>

    <script>
        var editor = new FroalaEditor('#myBlogEditor')
    </script>

</div>