@using GameHopper.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@model List<GameHopper.Models.BlogEntry>

@{
    ViewData["Title"] = "Posts";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var addBlogVM = ViewData["AddBlogVM"] as GameHopper.ViewModels.AddBlogVM;
}

<h2>Posts</h2>
<hr />
<div>
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_BlogPostPartial", post)
    }
</div>
<h5>Create or Edit Post</h5>
@await Html.PartialAsync("_BlogCreatorPartial", addBlogVM)